<h1>Bonjour! Veuillez confirmer votre email!</h1>

<p>
   Veuillez confirmer votre email par  clicker sur confirmer mon email: <br><br>
    <a href="{{ signedUrl }}">Confirmer mon Email</a>.
    Le lien va etre expire dans  {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>
<p>
    Votre mot de passe est : <strong>{{ mdp }}</strong> <br> garder le :D!!
</p>

<p>
    Merci!
</p>
